<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Magazines_init() hook (in hooks/Magazines.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Magazine-Type-<%%VALUE(id)%%>" class="Magazine-Type"><%%SELECT%%><%%VALUE(Type)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Name-<%%VALUE(id)%%>" class="Magazine-Name"><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Date_Of_Receipt-<%%VALUE(id)%%>" class="Magazine-Date_Of_Receipt"><%%SELECT%%><%%VALUE(Date_Of_Receipt)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Date_Published-<%%VALUE(id)%%>" class="Magazine-Date_Published"><%%SELECT%%><%%VALUE(Date_Published)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Pages-<%%VALUE(id)%%>" class="Magazine-Pages text-right"><%%SELECT%%><%%VALUE(Pages)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Price-<%%VALUE(id)%%>" class="Magazine-Price text-right"><%%SELECT%%><%%VALUE(Price)%%><%%ENDSELECT%%></td>
		<td id="Magazine-Publisher-<%%VALUE(id)%%>" class="Magazine-Publisher"><%%SELECT%%><%%VALUE(Publisher)%%><%%ENDSELECT%%></td>
