<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the NewsPapers_init() hook (in hooks/NewsPapers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Ne-Language-<%%VALUE(id)%%>" class="Ne-Language"><%%VALUE(Language)%%></td>
		<td id="Ne-Name-<%%VALUE(id)%%>" class="Ne-Name"><%%VALUE(Name)%%></td>
		<td id="Ne-Date_Of_Receipt-<%%VALUE(id)%%>" class="Ne-Date_Of_Receipt"><%%VALUE(Date_Of_Receipt)%%></td>
		<td id="Ne-Date_Published-<%%VALUE(id)%%>" class="Ne-Date_Published"><%%VALUE(Date_Published)%%></td>
		<td id="Ne-Pages-<%%VALUE(id)%%>" class="Ne-Pages text-right"><%%VALUE(Pages)%%></td>
		<td id="Ne-Price-<%%VALUE(id)%%>" class="Ne-Price text-right"><%%VALUE(Price)%%></td>
		<td id="Ne-Type-<%%VALUE(id)%%>" class="Ne-Type"><%%VALUE(Type)%%></td>
		<td id="Ne-Publisher-<%%VALUE(id)%%>" class="Ne-Publisher"><%%VALUE(Publisher)%%></td>
<td id="Ne-Typess-<%%VALUE(id)%%>" class="Ne-Typess"><%%VALUE(Typess)%%></td>
		<td id="Ne-Pu-<%%VALUE(id)%%>" class="Ne-Pu"><%%VALUE(Pu)%%></td>
