<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the NewsPapers_init() hook (in hooks/NewsPapers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="New-Language-<%%VALUE(id)%%>" class="New-Language"><%%SELECT%%><%%VALUE(Language)%%><%%ENDSELECT%%></td>
		<td id="New-Name-<%%VALUE(id)%%>" class="New-Name"><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="New-Date_Of_Receipt-<%%VALUE(id)%%>" class="New-Date_Of_Receipt"><%%SELECT%%><%%VALUE(Date_Of_Receipt)%%><%%ENDSELECT%%></td>
		<td id="New-Date_Published-<%%VALUE(id)%%>" class="New-Date_Published"><%%SELECT%%><%%VALUE(Date_Published)%%><%%ENDSELECT%%></td>
		<td id="New-Pages-<%%VALUE(id)%%>" class="New-Pages text-right"><%%SELECT%%><%%VALUE(Pages)%%><%%ENDSELECT%%></td>
		<td id="New-Price-<%%VALUE(id)%%>" class="New-Price text-right"><%%SELECT%%><%%VALUE(Price)%%><%%ENDSELECT%%></td>
		<td id="New-Type-<%%VALUE(id)%%>" class="New-Type"><%%SELECT%%><%%VALUE(Type)%%><%%ENDSELECT%%></td>
		<td id="New-Publisher-<%%VALUE(id)%%>" class="New-Publisher"><%%SELECT%%><%%VALUE(Publisher)%%><%%ENDSELECT%%></td>
		<td id="New-Typess-<%%VALUE(id)%%>" class="New-Typess"><%%SELECT%%><%%VALUE(Typess)%%><%%ENDSELECT%%></td>
		<td id="New-Pu-<%%VALUE(id)%%>" class="New-Pu"><%%SELECT%%><%%VALUE(Pu)%%><%%ENDSELECT%%></td>
