<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the NewsPapers_init() hook (in hooks/NewsPapers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="NewsPaper-Language-<%%VALUE(id)%%>" class="NewsPaper-Language"><%%VALUE(Language)%%></td>
		<td id="NewsPaper-Name-<%%VALUE(id)%%>" class="NewsPaper-Name"><%%VALUE(Name)%%></td>
		<td id="NewsPaper-Date_Of_Receipt-<%%VALUE(id)%%>" class="NewsPaper-Date_Of_Receipt"><%%VALUE(Date_Of_Receipt)%%></td>
		<td id="NewsPaper-Date_Published-<%%VALUE(id)%%>" class="NewsPaper-Date_Published"><%%VALUE(Date_Published)%%></td>
		<td id="NewsPaper-Pages-<%%VALUE(id)%%>" class="NewsPaper-Pages text-right"><%%VALUE(Pages)%%></td>
		<td id="NewsPaper-Price-<%%VALUE(id)%%>" class="NewsPaper-Price text-right"><%%VALUE(Price)%%></td>
		<td id="NewsPaper-Type-<%%VALUE(id)%%>" class="NewsPaper-Type"><%%VALUE(Type)%%></td>
		<td id="NewsPaper-Publisher-<%%VALUE(id)%%>" class="NewsPaper-Publisher"><%%VALUE(Publisher)%%></td>
<td id="NewsPaper-Typess-<%%VALUE(id)%%>" class="NewsPaper-Typess"><%%VALUE(Typess)%%></td>
		<td id="NewsPaper-Pu-<%%VALUE(id)%%>" class="NewsPaper-Pu"><%%VALUE(Pu)%%></td>
