

		<td id="Ty-Na-<%%VALUE(id)%%>" class="Ty-Na"><%%SELECT%%><%%VALUE(Na)%%><%%ENDSELECT%%></td>
<td id="Ty-t-<%%VALUE(id)%%>" class="Ty-t"><%%SELECT%%><%%VALUE(t)%%><%%ENDSELECT%%></td>

<td id="Ty-C-<%%VALUE(id)%%>" class="Ty-C"><%%SELECT%%><%%VALUE(C)%%><%%ENDSELECT%%></td>

<td id="Ty-D-<%%VALUE(id)%%>" class="Ty-D"><%%SELECT%%><%%VALUE(D)%%><%%ENDSELECT%%></td>
<td id="Ty-I-<%%VALUE(id)%%>" class="Ty-I"><%%SELECT%%><%%VALUE(I)%%><%%ENDSELECT%%></td>

<td id="Ty-e-<%%VALUE(id)%%>" class="Ty-e"><%%SELECT%%><%%VALUE(e)%%><%%ENDSELECT%%></td>
<td id="Ty-f-<%%VALUE(id)%%>" class="Ty-f"><%%SELECT%%><%%VALUE(f)%%><%%ENDSELECT%%></td>
