

		<td id="Typ-Na-<%%VALUE(id)%%>" class="Typ-Na"><%%SELECT%%><%%VALUE(Na)%%><%%ENDSELECT%%></td>
<td id="Typ-t-<%%VALUE(id)%%>" class="Typ-t"><%%SELECT%%><%%VALUE(t)%%><%%ENDSELECT%%></td>

<td id="Typ-C-<%%VALUE(id)%%>" class="Typ-C"><%%SELECT%%><%%VALUE(C)%%><%%ENDSELECT%%></td>

<td id="Typ-D-<%%VALUE(id)%%>" class="Typ-D"><%%SELECT%%><%%VALUE(D)%%><%%ENDSELECT%%></td>
<td id="Typ-I-<%%VALUE(id)%%>" class="Typ-I"><%%SELECT%%><%%VALUE(I)%%><%%ENDSELECT%%></td>
<td id="Typ-e-<%%VALUE(id)%%>" class="Typ-e"><%%SELECT%%><%%VALUE(e)%%><%%ENDSELECT%%></td>

